#profile img-circle{
    width: 100%;
    height: 500px;
    border: none;
}
#line{
    color: aqua;
}
.travel_mainDiv{
    border: 1px solid lightblue;
}
.travel_mainDiv img{
    width: 100%;
    border: 50%;
}
.travel_mainDiv h4{
    margin: 20px;
}